@import "./theme.css";

* {
	background-color: @background;
	color: @foreground;
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: Iosevka Nerd Font;
	font-size: 12px;
}

.modules-left {
	margin-left: 8px;
}

.modules-right {
	margin-right: 8px;
}

#workspaces button {
	all: initial;
	padding: 0 6px;
	margin: 0 1.5px;
	min-width: 9px;
}

#workspaces button.empty {
	opacity: 0.5;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory {
	min-width: 12px;
	margin: 0 7.5px;
}

tooltip {
	padding: 2px;
}
